 .btn {
  background-color: #219ebc;
  color: white;
  border: none;
  outline: none;
  height: 30px;
  width:140px ;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
 .btn:hover {
  background-color: #8ecae6;
}